/* row.css */
.row {
  margin-left: 20px;
  color: #fff;
}

.row h2 {
  font-size: 1.4rem;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.row-posters {
  display: flex;
  overflow-x: scroll;
  padding: 20px 0;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-poster {
  max-height: 200px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
}

.row-poster:hover {
  transform: scale(1.08);
  opacity: 1;
}
